node_modules/
.env
dist/
build/
.expo/
*.log
.DS_Store
coverage/

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.packages
mobile/.pub-cache/
mobile/pubspec.lock
mobile/android/.gradle/
mobile/android/local.properties
mobile/ios/Pods/
mobile/ios/.symlinks/
*.iml
